body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9fb;
}

.hero-section {
  background: linear-gradient(to right, #dc3545, #6c757d);
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s ease;
  background-color: white;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.card img {
  height: 260px;
  object-fit: cover;
  border-bottom: 4px solid #dc3545;
}
